.main_prin {
    margin: 10%;
    margin-top: 50px;
}

#main_second {
    background-color: #F5F5F7;

    section h1, p, a, h2 {
        color: black;
    }
    
    section hr {
        background-color: black;
    }

}

#main_light {
    margin: auto;
    width: 100%;
    height: 1000px;
    background-color: white;
    
    section h1, p, a{
        color: black;
    }
    
    section hr {
        background-color: black;
    }
}

#main_light main p, a, h1 {
    color: black;
}

#imgprin {
    /*background: rgb(0,0,0);*/
    /*background: linear-gradient(0deg, rgba(0,0,0,1) 31%, rgba(0,0,0,0) 100%);*/

    height: 500px;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    mask-image: linear-gradient(to top, transparent 5%, black 100%);
}

#divmain1 {
    height: 500px;
    width: 100%;
    background-color: black;
}

body {
    background-color: black;
}