.menu {
    display: flex;
    background-color: #33333300;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s ease;
    height: 50px;
    z-index: 100;
    transform: none;
}

.Menu_active {
    transform: none;
    background-color: rgba(0, 0, 0, 0.572);
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba( 227, 255, 255, 0.37);
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul a {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu nav {
    align-self: center;
}

.menu li {
    padding: 7px;
    transition: 0.3s;
    margin-right: 20px;
}

.menu li:hover {
    transition: 0.3s;
    border-radius: 10px;
    padding: 7px;
    background-color: #e26d0077;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;  
    color: #fff;
}

nav {
    flex-grow: 1;
    width: 100%;
}

#nav_div {
    float: right;
}


#txtprin {
    font-family: var(--font-principal);
    padding: 10px;
    cursor: pointer;
    transition: 0.7s;
    margin: 0;
}

#txtprin a {
    margin: 0;
    padding: 0;
}

#txtprin:hover {
    transition: 0.5s;
    color: #ffffff;
    font-family: var(--font-principal);
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
    text-shadow: 0 0 10px #f7be88e8, 0 0 20px #f7be88e8, 0 0 30px #f7be88e8, 0 0 40px #fc7b03b2, 0 0 70px #fc7b03b2, 0 0 80px #fc7b03b2, 0 0 100px #fc7b03b2, 0 0 150px #fc7b03b2;
}

