.container-ref {
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2, p {
    margin-bottom: 10px;
}
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.container-ref li {
    color: white;
}
